<div class="container-fluid fundo-branco container-1">
  <div class="container container-sobremim">
    <div class="row my-5">
      <div class="container-imagem col-sm-12 col-md-6">
        <img style="max-width: 100%; max-height: 100%" src="/card-1-human.png" alt="Human">
      </div>
      <div class="texto-sobremim col-sm-12 col-md-6 mt-5">
        <span>SOBRE MIM</span>
        <h2>Oi, Estou Aqui Para Te Ajudar Em Seu Novo Projeto! </h2>
        <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
      </div>
    </div>
    </div>
  </div>
</div>
<style>
  .container-1 {
    background-color: white;
    display: flex;
  }

  .texto-sobremim {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    height: 100%;
  }

  .container-1 .container-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>