<div class="jumbotron text-start container">
  <div class="row">
    <div class="jumbotron-text col-sm-12 col-md-6">
      <div>
        <p class="lead">Desenvolvedor de Software</p>
        <h1 style="font-weight: 600;" class="display-4"><b>Olá, Eu sou <br><span  style="font-weight: 900; color: var(--bs-primary)">Felipe Ribeiro</span></b></h1>
        <p class="lead">Desenvolvedor web fullstack e Engenheiro de software<br> especializado em desenvolvimento de sistemas web.</p>
        <hr class="my-4">
        <p>Estou aqui para te ajudar a desenvolver a melhor solução digital para o seu negócio.</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Contrate me</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Baixar CV</a>
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <img width="550px" style="max-width: inherit" src="/imagem_perfil.png" alt="Felipe Ribeiro">
    </div>
  </div>
</div>
<style>
  .jumbotron-text {
    display: flex;
    align-items: center;
    color: white;
  }
</style>