<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/tecnologia.png" height="40px" alt="Icon">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="width: 100%">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Sobre</a>
        <a class="nav-link" href="#">Serviços</a>
        <a class="nav-link" href="#">Portfólio</a>
        <a class="nav-link" href="#">Blog</a>
        <a class="nav-link" href="#">FAQ</a>
        <hr style="color: white">
      </div>
        <form class="d-flex" role="search">
          <button class="btn btn-success" type="submit">Vamos Conversar</button>
        </form>
    </div>
  </div>

</nav>
<style>
  .navbar-collapse button {
    min-width: 160px;
  }
  .bg-light {
    --bs-bg-opacity: 0;
    background-color: none;
  }
</style>